h1 {
    font-family: 'Racing Sans One', sans-serif;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

p {
    width: 60%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.gallery {
    margin: 50px auto 0;
}

#solution {
    background-color: lightgray;
}

.gallery td {
    height: 50px;
    width: 50px;
    background-color: lightgray;
    text-align: center;
    vertical-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.gallery td.open {
    background-color: lightgreen;
}

.gallery td.close {
    background-color: lightpink;
}

.input.gallery td:hover {
    background-color: #8eb2f1;
}

.input.gallery input {
    height: 40px;
    width: 40px;
    margin: 0;
    background-color: inherit;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.input.gallery input::-webkit-outer-spin-button,
.input.gallery input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input.gallery input[type=number] {
    -moz-appearance: textfield;
}

#loading-spinner > div {
    margin: 10px auto 10px auto;
    border: 14px solid lightgray;
    border-radius: 50%;
    border-top: 14px solid cornflowerblue;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#solution-section {
    margin-bottom: 100px;
}

#solution-text p {
    text-align: center;
}

#control-stripe {
    background-color: lightgray;
    padding: 15px 0;
    margin-top: 30px;
}

#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 80%;
}

#controls label {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#controls input {
    width: 40px;
    height: 20px;
}

#controls > div > div {
    margin-bottom: 5px;
}

#controls > div > div:last-child {
    margin-bottom: 0;
}

#controls > div.text-control > div {
    display: flex;
    justify-content: space-between;
}

#controls > div.text-control > div > input {
    margin-left: 5px;
}

#controls > div.radio-control > div {
    display: flex;
}

#controls > div.button-control {
    height: 50px;
}

#controls > div.button-control > button {
    height: 100%;
    width: 100px;
    border-radius: 0;
    border-width: 0;
    color: white;
    background-color: #8eb2f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#controls > div.button-control > button:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

#controls > div.button-control > button:active {
    background-color: #154eb7;
}
